ABOUT-NLS
aclocal.m4
boxbackup/
config.rpath
config.guess
config.h.in
config.log
config.status
config.sub
configure
ltmain.sh
m4
po
autom4te.cache
src/alien16.png.c
src/cross16.png.c
src/cross16a.png.c
src/crossgrey16.png.c
src/empty16.png.c
src/equal16.png.c
src/exclam16.png.c
src/folder16.png.c
src/hourglass16.png.c
src/notequal16.png.c
src/oldfile16.png.c
src/partial16.png.c
src/partialtick16.png.c
src/plus16.png.c
src/plusgrey16.png.c
src/sametime16.png.c
src/tick16.png.c
src/tick16a.png.c
src/tickgrey16.png.c
src/unknown16.png.c
